*{
    margin: .1rem;
}
header>img:hover{
    cursor: pointer;
}
img{
    overflow:hidden;
}
body{
    background-color: black;
    color: rgb(238, 238, 238);
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0rem 1rem;
    margin-top: 2rem;
}
h1,h2{
    font-family: serif;
    font-weight: 100;
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
.intro{
    margin-top: 2rem;
    max-width: 700px;
}
.shortIntro{
    color: grey;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
}
/* **************************************** */
nav{
    display: block;
    position: absolute;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    right: 0px;
    top: 55px;
    display: none;
}
header>button{
    display: none;
}
nav>a{
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    /* background-color: white; */
    padding: 1rem;
}

header>*{
    margin: .5rem;
}
.name{
    font-family: serif;
    font-size: 1.5rem;
}
.credentials>*{
    padding: .3rem .6rem;
}
.credentials{
    margin: 3rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.work{
    display: flex;
    flex-direction: column;
}
.work{
    display: flex;
    /* flex-direction: column;
    justify-content: flex-start; */
}
.work>div>img{
    width: 90vw;
    height: 100%;

    object-fit: cover;
    margin: 1rem;
    
}
a{
    color:white;
    font-family: serif;
    font-size: 2rem;
    text-decoration: none;
}
.work>div>p{
    color: grey;
}
.work>div{
    margin: 1.5rem 0rem;
}
.profile{
    background-color: rgb(57, 57, 68);
    padding: 2rem .6rem;
}
.profile>h2{
    margin-bottom: 1rem;
    padding: .5rem 0rem;
}
.profile>p{
    /* margin: 1rem; */
    color: grey;
    padding: .5rem 0rem;
}
.CTA{
    padding: 3rem .6rem ;
}
.CTA>h2{
    font-size: 2.3rem;;
}
.CTA>p{
    color: grey;
}
button.CTA{
    margin-top: 1rem;
    padding: .7rem 1rem;
    background-color: rgb(255, 238, 88);
    color: black;
    border: none;
    font-family: serif;
    font-size: 1.2rem;
}
footer{
    background-color: rgb(57,57,68);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

@media screen and (min-width:1000px) {
    
    nav{
        display: block;
        display: flex;
        flex-direction: row;
        position: inherit;
    }
    header>button{
        display: block;
    }
    header>img{
        display: none;
    }
    .credentials{
        justify-content: space-between;
    }
    .work{
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    .work>div>img{
        max-width: 41vw;
        max-height: 100%;
        margin: 0rem;
    }
    .work>div>p{
        max-width: 41vw;
    }
    .profile{
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 300px;

    }
    .profile>*{
        max-width: 40vw;
        padding: .5rem 0rem;
    }
    .CTA{
        max-width: 47vw;
    }
}